<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="81dd1cd6-36f5-42d4-b7ef-4886d22fc043" name="Sample REST Test Suite">
  <con:settings>
    <con:setting id="81dd1cd6-36f5-42d4-b7ef-4886d22fc043fileName">Sample-REST-Test-Suite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
