<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="f5fc1e69-24cd-4720-a57d-aab0d521aba3" name="Sample REST Test Suite">
  <con:settings>
    <con:setting id="f5fc1e69-24cd-4720-a57d-aab0d521aba3fileName">Sample-REST-Test-Suite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
